$accent-color: #00BE1D;
$background-color: #F4F4F4;
$text-color-primary: #1B1B1B;
$text-color-secondaty: #5E5E5E;

$text-size-base: 1rem;
$text-size-medium: 1.25rem;
$text-size-large: 1.5rem;
$text-size-xlarge: 2.25rem;